# Compiled class file
*.class
**/target/

# Log filea
logs/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE files #
.idea
INFO6205.iml

.vscode/

bin/*
.classpath
.project
.settings

*.kml

Java/src/test/java/edu/neu/coe/info6205/admin/TicketTest.java

# Python files
*.pyc
**/__pycache__/
*.pyo
**/.venv/
**/.pytest_cache/

.DS_Store
